Repository carbon-design-system/carbon-charts, pull requests merged in 2018-11, with the labels that each got.

#79 Update CONTRIBUTING & README guidelines
  CONTRIBUTING.md
  README.md
Labels: documentation

#80 chore(monorepo): Update README content
  CONTRIBUTING.md
  README.md
Labels: documentation

#78 [WIP] fix(angular): Fix babel-polyfill multiple instances issue
  packages/angular/package.json
  packages/core/package.json
  packages/core/src/polyfills.ts
  packages/core/webpack.build.js
  packages/core/webpack.config.js
  packages/react/package.json
Labels: angular, bug

#87 Calculate sum of values for DonutCenter automatically
  packages/core/demo/demo-data/pie-donut.ts
  packages/core/demo/index.ts
  packages/core/src/donut-chart.ts
Labels: core, enhancement

#86 fix(core): Refactor thresholds to support a range of values
  packages/core/demo/demo-data/line.ts
  packages/core/src/base-axis-chart.ts
Labels: accessibility, bug, core

#84 Fix(core): Fix label colours on donut charts
  packages/core/src/base-chart.ts
Labels: accessibility, bug, core

#88 chore(core): Optimize threshold colors, remove react-icons as a dependency
  packages/core/src/configuration.ts
  packages/react/package.json
Labels: accessibility, core

#90 Add all-contributors-cli to generate list of contributors in README
  .all-contributorsrc
  README.md
  package.json
Labels: documentation

#94 Tooltips Bug Fix #89
  packages/core/src/configuration.ts
  packages/core/src/line-chart.ts
  packages/core/src/stacked-bar-chart.ts
Labels: accessibility, bug, core

#95 chore(react): Release react wrappers & move build/demo scripts into 1 file
  .gitignore
  .travis/after_success.sh
  README.md
  packages/core/package.json
  packages/react/index.js
  packages/react/package.json
  packages/react/src/base-chart.js
  scripts/build-packages-and-demos.sh
  scripts/netlify.sh
Labels: react

#103 Fix after_success.sh errors
  .travis/after_success.sh
  packages/react/index.js
Labels: bug, build-process

#104 chore(react): optimize exports, remove duplicate PieChart export
  packages/react/index.js
Labels: build-process

#105 chore(react): Use rollup for bundling rather than webpack
  .travis/before_install.sh
  packages/react/.babelrc
  packages/react/index.js
  packages/react/package.json
  packages/react/rollup.config.js
  packages/react/src/bar-chart.js
  packages/react/src/base-chart.js
  packages/react/src/donut-chart.js
  packages/react/src/line-chart.js
  packages/react/src/pie-chart.js
  packages/react/webpack.config.js
  scripts/build-packages-and-demos.sh
  scripts/netlify.sh
Labels: build-process, react

#108 Minimum size for charts, resizeObserver rather than requestAnimationFrame, react links for demo site
  README.md
  packages/angular/index.js
  packages/core/demo/index.html
  packages/core/demo/index.scss
  packages/core/package.json
  packages/core/src/base-axis-chart.ts
  packages/core/src/base-chart.ts
  packages/core/src/configuration.ts
  packages/react/helpers/commons.js
Labels: accessibility, bug

#112 fix(react): Fix react wrappers resizing with animation
  packages/core/demo/index.scss
  packages/core/src/base-chart.ts
  packages/core/src/style.scss
  packages/core/src/tools.ts
  packages/react/src/base-chart.js
Labels: bug, core, react
