Repository carbon-design-system/carbon-charts, pull requests merged in 2018-10, with the labels that each got.

#49 Revert package versions back to 0.4.3
  lerna.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/package.json
Labels: angular, core

#53 Add combo chart + Bugfixes
  CHANGELOG.md
  README.md
  lerna.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/demo/assets/logo.png
  packages/core/demo/demo-data/combo.ts
  packages/core/demo/demo-data/index.ts
  packages/core/demo/index.html
  packages/core/demo/index.scss
  packages/core/demo/index.ts
  packages/core/package.json
  packages/core/src/bar-chart.ts
  packages/core/src/base-axis-chart.ts
  packages/core/src/base-chart.ts
  packages/core/src/combo-chart.ts
  packages/core/src/configuration.ts
  packages/core/src/index.ts
  packages/core/src/line-chart.ts
  packages/core/src/pie-chart.ts
  packages/core/src/stacked-bar-chart.ts
  packages/core/src/style.scss
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: core

#54 Revert versions back to 0.4.3, and log npm whoami & npmrc
  .travis/after_success.sh
  CHANGELOG.md
  lerna.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: build-process

#56 chore(core react angular): revert package versions back to 0.4.3
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
Labels: build-process

#57 chore(monorepo core angular react): revert versions back to 0.4.3
  CHANGELOG.md
  lerna.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: build-process

#55 Dispatch onClick events for pie and bar charts & pass the data into event
  package-lock.json
  package.json
  packages/angular/demo/package-lock.json
  packages/angular/package-lock.json
  packages/core/demo/index.ts
  packages/core/package-lock.json
  packages/core/src/base-axis-chart.ts
  packages/core/src/base-chart.ts
  packages/core/src/index.ts
  packages/core/src/pie-chart.ts
  packages/core/src/polyfills.ts
  packages/react/package-lock.json
Labels: core, demos, enhancement

#61 chore(core): Include index.js in NPM releases
  package-lock.json
  packages/angular/package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
Labels: build-process

#64 export default colors in the bundle, run lint & optimizations in pre-push
  package-lock.json
  package.json
  packages/angular/package-lock.json
  packages/core/package.json
  packages/core/src/bar-chart.ts
  packages/core/src/base-axis-chart.ts
  packages/core/src/base-chart.ts
  packages/core/src/configuration.ts
  packages/core/src/donut-chart.spec.ts
  packages/core/src/donut-chart.ts
  packages/core/src/index.ts
  packages/core/src/line-chart.ts
  packages/core/src/pie-chart.ts
  packages/core/src/services/patterns.ts
  packages/core/src/stacked-bar-chart.ts
  scripts/prepush.sh
Labels: build-process, core, enhancement
