Repository carbon-design-system/carbon-charts, pull requests merged in 2019-01, with the labels that each got.

#122 Fix broken links in demos
  README.md
  packages/core/demo/index.html
Labels: accessibility, demos, documentation

#123 Export DonutChart in the React package
  packages/react/src/index.js
Labels: bug, react

#81 feat($core): adds support for tension, beta, alpha in curves
  packages/core/demo/demo-data/line.ts
  packages/core/src/line-chart.ts
  packages/core/src/services/curves.ts
Labels: core, enhancement

#127 chore(core): Add an experimental switch to the demo site
  packages/core/demo/demo-data/colors.ts
  packages/core/demo/index.html
  packages/core/demo/index.scss
  packages/core/demo/index.ts
  packages/core/src/base-chart.ts
Labels: core, demos

#132 fix(core demo): Fix experimental link issue
  packages/core/demo/index.ts
Labels: bug, core

#137 fix(core): Fix tooltip positioning and clean up styling
  packages/core/demo/index.html
  packages/core/demo/index.scss
  packages/core/src/base-chart.ts
  packages/core/src/style.scss
Labels: bug, core

#138 fix(core): Fix interference of thresholds and bar chart elements
  packages/core/src/bar-chart.ts
  packages/core/src/base-axis-chart.ts
Labels: bug, core

#161 Allow custom donut center label & number
  package.json
  packages/core/demo/demo-data/pie-donut.ts
  packages/core/demo/index.ts
  packages/core/src/donut-chart.ts
Labels: core, enhancement
