Repository carbon-design-system/carbon-charts, pull requests merged in 2019-02, with the labels that each got.

#180 Tooltip variants
  packages/core/demo/demo-data/bar.ts
  packages/core/src/base-chart.ts
  packages/core/src/configuration.ts
  packages/core/src/pie-chart.ts
Labels: core, enhancement, ui/ux

#187 Custom line circle radius
  packages/core/demo/demo-data/line.ts
  packages/core/src/base-axis-chart.ts
  packages/core/src/base-chart.ts
  packages/core/src/configuration.ts
  packages/core/src/line-chart.ts
  packages/core/src/style.scss
Labels: bug, core, enhancement

#192 Fix npm vulnerability issue for webpack-dev-server
  packages/core/package.json
Labels: build-process, core

#135 fix(core): Add y-axis title
  packages/core/demo/demo-data/bar.ts
  packages/core/demo/demo-data/line.ts
  packages/core/src/base-axis-chart.ts
  packages/core/src/style.scss
Labels: core, enhancement

#172 Fixes back-to-back updates not fully transitioning.
  packages/core/src/bar-chart.ts
  packages/core/src/base-axis-chart.ts
  packages/core/src/line-chart.ts
  packages/core/src/pie-chart.ts
  packages/core/src/stacked-bar-chart.ts
Labels: bug, core

#195 Align y-axis title to the actual axis
  packages/core/src/base-axis-chart.ts
Labels: bug, core

#201 Implements custom color functions.
  packages/core/src/bar-chart.ts
  packages/core/src/base-chart.ts
  packages/core/src/line-chart.ts
  packages/core/src/pie-chart.ts
  packages/core/src/stacked-bar-chart.ts
Labels: core, enhancement
